.About {
  background-color: var(--main-bg-black-color);
  display: flex;
  justify-content: center;
  z-index: 20;
  height: 30rem;
  scroll-snap-align: start;
  scroll-margin: 300px;
}

.About-Container {
  display: flex;
}

.About-Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 38rem;
  max-width: 26rem;
}

.About h1 {
  transform: translate(0, -4rem);
  margin-bottom: -0.5rem;
  cursor: default;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.About p {
  color: var(--main-bg-alt-light-color);
  text-wrap: balance;
  font-size: 1.1rem;
  cursor: default;
}

.About-Typewriter-Container {
  transform: translate(0, -4rem);
  display: flex;
  flex-direction: row;
  color: var(--main-bg-alt-light-color);
  text-wrap: balance;
  font-size: 1.1rem;
}

.About-Typewriter {
  transform: translate(0, 1.1rem);
  color: var(--main-bg-alt-light-color);
  text-wrap: balance;
  font-size: 1.1rem;
  margin-right: 0.2rem;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.About-Typewriter-Screenreader {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  cursor: default;
}

.About-Typewriter-Screenreader p {
  color: rgba(0, 0, 0, 0);
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.About-Scrolldown {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.About-Scrolldown h2 {
  margin-bottom: .25rem;
  cursor: default;
  font-size: 1.3rem;
  font-weight: 400;
}

.About-Scrolldown-Arrow {
  margin: auto;
  transform: scale(400%, 150%);
  color: var(--main-bg-alt-light-color);
}
@media (max-width: 1500px) {
  .About-Body {
    margin-top: 25rem;
  }
}

@media (max-width: 1080px) {
  .About {
    flex-direction: column;
    width: 100%;
    height: 28rem;
    padding-top: 2rem;
  }
  .About h1 {
    margin-top: 2rem;
    font-size: 2.2rem;
    transform: translate(0, -2rem);
  }
  .About-Container {
    flex-direction: column;
    margin: auto;
  }
  .About-Typewriter-Container {
    transform: translate(0, -2rem);
  }
  .About-Body {
    margin-top: 2rem;
    margin: auto;
  }
  .About-Body p {
    max-width: 22rem;
  }

  .About-Buttons {
    display: none;
  }

  .About-Scrolldown{
    bottom: 6rem;
    align-self: center;
  }
}

@media (min-width: 2000px) {
  .About-Body {
    margin-top: 42rem;
  }
}

@media (min-width: 3000px) {
  .About-Body {
    margin-top: 46rem;
  }
}
