.About {
  background-color: var(--main-bg-black-color);
  display: flex;
  justify-content: center;
  z-index: 20;
  height: 70rem;
  scroll-snap-align: start;
  scroll-margin: 300px;
}

.About-Container {
  display: flex;
}

.About-Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  max-width: 25rem;
}

.About h1 {
  margin-bottom: -.5rem;
}

.About p {
  color: var(--main-bg-alt-light-color);
  text-wrap: balance;
  font-size: 1.1rem;
}

.About-Buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

@media (max-width: 1080px) {
  .About {
    flex-direction: column;
    width: 100%;
    height: 45rem;
    padding-bottom: 16rem;
  }
  .About h1 {
    font-size: 2.5rem;
  }
  .About-Container {
    flex-direction: column;
    margin: auto;
  }
  .About-Body {
    margin-top: 2rem;
    margin: auto;
  }
  .About-Body p {
    max-width: 22rem;
  }

  
}

@media (min-width: 2000px) {
  .About {
    height: 85rem;
  }
}

@media (min-width: 3000px) {
  .About {
    height: 165rem;
  }
  .About-Body {
    margin-top: -60rem;
  }
}